li:not(.message) {
  text-transform: capitalize;
}

li, .message {
  width: 90%;
  list-style-type: none;
  padding: 2%;
}

ul {
  padding: 0;
}

.repo-card {
  width: 500px;
  border: black solid 2px;
  margin: 2%;
}